# Python
*.py[co]
__pycache__/

# setuptools
build/
dist/
docs/build/
tmp/

# editors
.*.swp
.idea/

# pytest
.cache/

# virtualenv
bin/
include/
lib/
share/
pip-selfcheck.json

# Unit tests
JSON-Schema-Test-Suite/
netaddr/.coverage
netaddr/tests/coverage/
netaddr.egg-info/

# OS X directory metadata
*.DS_Store
