*.py[co]
netaddr/version.py
netaddr/.coverage
netaddr/tests/coverage/
netaddr.egg-info/
__pycache__/
*.DS_Store
build/
dist/
docs/build/
.idea/
.cache/
.vagrant/
tmp/
*.iml
coverage.xml
htmlcov/
junit.xml
