recursive-include docs *.html *.css *.js *.png

include tests/ut_*.py

include netaddr/__init__.py
include netaddr/address.py
include netaddr/strategy.py

include netaddr/external/__init__.py
include netaddr/external/cache/*.shlv
include netaddr/external/src/*

include AUTHORS
include CHANGELOG
include GLOSSARY
include INSTALL
include LICENSE
include README
include setup.py

global-exclude *.pyc
global-exclude *.svn*
