recursive-include docs/api *.html *.css *.js *.png

include tests/ut_*.py

include netaddr/__init__.py
include netaddr/address.py
include netaddr/strategy.py
include netaddr/core.py
include netaddr/util.py
include netaddr/fallback.py

include netaddr/eui/__init__.py
include netaddr/eui/*.txt
include netaddr/eui/*.idx

include netaddr/ip/__init__.py
include netaddr/ip/multicast-addresses
include netaddr/ip/ipv6-address-space
include netaddr/ip/ipv4-address-space

include AUTHORS
include CHANGELOG
include COPYRIGHT
include GLOSSARY
include INSTALL
include LICENSE
include MANIFEST.in
include README
include python-netaddr.spec
include setup.py
include release.py
include setup.cfg
include setup_egg.py

global-exclude *.pyc
global-exclude *.svn*
